<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253695555214-qd293mj0apsiej4qqpuln1e662bdqarn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253695555214-qd293mj0apsiej4qqpuln1e662bdqarn</string>
	<key>API_KEY</key>
	<string>AIzaSyAlg33HyDJ5qK6Ezrrsz_KfXa6TTeBkJE4</string>
	<key>GCM_SENDER_ID</key>
	<string>253695555214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>normprojects.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>remoteconfig-167b1</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfig-167b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253695555214:ios:a3e13fa246aa79b635fbdf</string>
</dict>
</plist>